.center {
    margin: auto;
    width: 100%;
    padding: 10px;

}

.div-size {
    width: 100%;
    height: 50vw;

    
}

.copy-button-position {
    position: absolute;
    top: 0;
    right: 0;
}

.button-container {
    display: flex;
    justify-content: right;
    gap: 3px;
    
}

.textarea-size {
    width: 100%;
    height: 100%;
    border: 0.2;
}

.nav-link {
    font-size: 25px;
}

.hidden {
    opacity: 0%;
    transform: translateY(100px);
    transition: all 1s ease-in-out;
}

.fade-in {
    opacity: 100%;
    transform: translateY(0px);
}

#mainContainer, #tabSection, #textOutputDiv {
    transition: all 1s ease-in-out;
}

