{% extends "layout.html" %}

{%block title %}
test_index
{% endblock %}

{% block main %}

 <!-- Adding Grammarly -->
 <script src="https://unpkg.com/@grammarly/editor-sdk?clientId={{ client_id }}"></script>

    <div class="container  mb-3">
        <div style="height: 30vh;">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-6 order-md-1">

                <!-- Heading -->
                <h1 class="display-3 text-center text-md-start">
                    Welcome to your <span class="text-primary">SEO Generator</span>. <br>
                </h1>

                <!-- Text -->
                <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                    Generate SEO-compatible content in a heartbeat.
                </p>
                </div>
            </div> <!-- / .row -->

            <section class="py-8 py-md-11 border-bottom">
                <div class="container mb-3">
                    <div class="row">
                        <div class="col-12 col-md-4">

                            <!-- Icon -->
                            <div class="icon text-primary">
                                <i class="bi bi-card-list"></i>
                            </div>
                            <!-- Heading -->
                            <h3>
                            1. Generate Headings 
                            </h3>

                            <!-- Text -->
                            <p class="text-muted mb-6 mb-md-0">
                            Select main-keyword, sub-keywords, text length, and generate headings.
                            </p>

                        </div>
                        <div class="col-12 col-md-4">

                            <!-- Icon -->
                            <div class="icon text-primary">
                                <i class="bi bi-card-checklist"></i>
                            </div>
                            <!-- Heading -->
                            <h3>
                            2. Select Headings
                            </h3>

                            <!-- Text -->
                            <p class="text-muted mb-6 mb-md-0">
                            Select headings based on the length of your text.
                            </p>

                        </div>
                        <div class="col-12 col-md-4">

                            <!-- Icon -->
                            <div class="icon text-primary">
                                <i class="bi bi-pencil-square"></i>
                            </div>
                            <!-- Heading -->
                            <h3>
                            3. Create Content
                            </h3>

                            <!-- Text -->
                            <p class="text-muted mb-0">
                            Generate, edit, and improve the content directly in the user-interface.
                            </p>

                        </div>
                    </div> <!-- / .row -->
                </div> <!-- / .container -->
            </section>
        </div>

        <section class="py-8 py-md-11 border-bottom">
            <div class="container mb-3 mt-3">
                <nav>
                    <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Generate Headings</button>
                        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Select Headings</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <form method="post">
                
                            <div class="mb-3 mt-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="mainKeyword"
                                    name="mainKeyword" placeholder="Main keyword" type="text">
                            </div>
                
                            <div class="mb-3">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="sub-keywords"
                                    name="sub-keywords" placeholder="Sub-keywords (optional)" type="text">
                            </div>
                
                            <div class="mb-3">
                                <select class="form-select mx-auto w-auto" name="textLength" id="textLength">
                                    <option disabled selected>Text length</option>
                                    <option value=500>500 words</option>
                                    <option value=1000>1,000 words</option>
                                    <option value=1500>1,500 words</option>
                                    <option value=2000>2,000 words</option>
                                </select>
                            </div>
                
                            <div  class="mb-3 text-center">
                                <button  class="btn btn-primary" id="headingsButton" type="submit">Generate Suggested Headings</button>
                            </div>
                
                        </form>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="mb-3 mt-3 text-center"> 
                        
                            <div class="form-check" id="boxDiv">
                                <ul class="list-group" id="unorderedList">

                                </ul>       
                            </div>
                        
                            <div hidden class="mb-3 mt-3 text-center" id="chooseHeadingsButtonDiv">
                                <button autofocus disabled class="btn btn-primary" id="chooseHeadings" type="submit">Choose Headings</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      
        <div class="mb-3 text-center div-size" style="margin: auto;">
            <h2 class="display-5 text-center">
                <span class="text-primary">SEO Generated Content.</span> <br>
            </h2>
            <div class="button-container mb-3 bd-clipboard">

                <button type="btn-clipboard" class="btn btn-primary" id="clearButton">
                    <i class="bi bi-eraser-fill"></i>
                        Clear
                </button>

                <button type="btn-clipboard" class="btn btn-primary" id="copyButton">
                    <i class="bi bi-clipboard"></i>
                        Copy
                </button>

            </div>
            <grammarly-editor-plugin>
                <textarea class="textarea-size" id="outputField" name="outputField">
                    Your text will appear here
                </textarea>
            </grammarly-editor-plugin>
        </div>

    </div>
    

{% endblock %}